section{
    background-color: #4c3228;
    color: #a6a6a6;
    text-align: center;
    padding: 11.5% 0;
}
h1{
    font-size: 80px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-style: italic;
}