<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Me</title>
  
</head>
<body>
  <main class="about-me-page">
    <section class="content">
      <h1>About Me</h1>
      <p>
        I'm a passionate and dedicated Information Technology student in my final year at 
        <span class="highlight">Malla Reddy University</span>. My academic journey has equipped me with a solid 
        understanding of technology and its applications, preparing me to contribute effectively to the 
        tech industry. I am a Self-directed Work Study Student motivated to apply education and experience 
        in job role. Good listener and Good at Scheduling various tasks to keep operations running smoothly.
      </p>
    </section>
    <section class="skills">
      <h2>My Skills are:</h2>
      <ul>
        <li><span class="highlight">Programming Languages:</span> Java, Python, JavaScript</li>
        <li><span class="highlight">Web Technologies:</span> HTML, CSS</li>
        <li><span class="highlight">Version Control:</span> Git and GitHub</li>
        <li><span class="highlight">Data Base:</span> SQL, MongoDB</li>
        <li><span class="highlight">Project Management:</span> Agile Methodologies</li>
      </ul>
    </section>
  </main>
</body>
</html>
