section{
    background-color: #bca89f;
    color: #0b0c10;
    padding: 5.5% 0;
}
h3{
    color: #4c3228;
    font-size: 55px;
    padding-left: 80px;
}
p{
    font-size: 46px;
    text-align: justify;
  text-justify: inter-word;
  padding:0 80px;
}
span{
    font-weight:bold;
}