<section>
    <h3>Who am i ?</h3>
<p>I'm a passionate and dedicated Information Technology student in my final year at <span>Malla Reddy University.</span> My academic journey has equipped me with a solid understanding of technology and its applications, preparing me to contribute effectively to the tech industry. I am a Self-directed Work Study Student motivated to apply education and experience in job role. Good listener and Good at Scheduling various tasks to keep operations running smoothly.</p>
</section>
<app-skills></app-skills>