<section>
    <h3>Projects</h3>
    
    <ul>
      <li>Resume Builder using Java</li>
      <li>Customizable QR-Code Generator using Python</li>
      <li>Auto Scalable Website Using AWS</li>
      <li>Empowering Retail with Customer Sentiment Analytics</li>
      <li>An E-Commerce Website</li>
    </ul>
    <a href="https://github.com/emmadi-siddharth-reddy?tab=repositories" >      
    <img src="/assets/pngegg.png" alt="GitHub Logo" class="github-logo">
    My GitHub Repository
    </a>
</section>