/* Contact Section Styling */
section{
    background-color: #4c3228;
    color: #a6a6a6;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row; 
    padding-top: 10px;
}


.me{
    display: flex;
    flex-direction: column; 
    color: #a6a6a6;
    
}
  /* Heading Styling */
  section h2 {
    display: flex;
    flex-direction: column; 
    font-size: 40px; /* Font size for heading */
    margin: 0.5rem 0; /* Vertical spacing */
  }

.mail{
    padding-left: 4%;
    font-weight: bold;
}
.link{
    padding-left:4%;
    font-weight:bold;
}
.insta{
    padding-left:4%;
    font-weight:bold;
}


 /* Bottom-Centered Footer Text */
.footer-text {
    background-color: #4c3228;
    color: #a6a6a6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 20px;
    font-style: italic;
  }
  
  
  section a {
    display: block; 
    font-size: 18px; 
    color: #a6a6a6;
    text-decoration: none; 
  }
  
  section a:hover {
    text-decoration: underline;
    font-size: 19px;
  }
  
  
  
  
  @media (max-width: 700px) {
    section {
      display: flex;
    flex-direction: column; 
    }
  }
  