<section>
  <section class="me">
    <h2>Contact</h2>
    <h2>Me</h2>
  </section>
    <a class="mail">emmadisiddharthreddy&#64;gmail.com</a>
    <a href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQG0_EfbATpsbgAAAZIi_bu417U7eV4VuPlEMOCHss-2IPeDElNsjZmwbXs2zWhRKIrlHg3JcNbBEo2jeaFep2of7MsKwHPwT-yrgPgjFSf3CvabWuu8Pymq-2HlwmNYwZE5hs8=&original_referer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fin%2Femmadi-siddharth-reddy" class="link">LinkedIn</a>
    <a href="" class="insta">Instagram</a>
  </section>
  <div class="footer-text">
    Designed and developed by Siddharth
  </div>