
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Siddharth Portfolio</title>
  
</head>
<body>
  <header>
    <nav>
      <a routerLink="/about-component" routerLinkActive="active">About Me</a>
      <a routerLink="/project-component" routerLinkActive="active">Projects</a>
    </nav>
    
  </header>
  <main>
    <div class="intro">
      <h1>HELLO, ITS ME</h1>
      <h1><h2>E. SIDDHARTH</h2></h1>
      <p>
        I am a <span class="highlight">IT Student</span><br>
        Studying at <span class="highlight">Malla Reddy University</span>
      </p>
    </div>
    <div class="image-container">
      <img src="/images/img1.jpg" alt="Profile Image">
    </div>
  </main>
</body>

<router-outlet></router-outlet>
</html>