<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    
</head>
<body>
    <section class="projects-section">
        <h1 class="section-title">Projects</h1>
        <div class="project-list">
            <div class="project-item">
                <h2>1. Customizable QR-Code Generator:</h2>
                <p>Generate QR codes that are unique and brand-oriented which are easily distinguishable.</p>
            </div>
            <div class="project-item">
                <h2>2. Resume Builder Using Java:</h2>
                <p>Creating resume by taking input from user interface that is built on Java Swing and AWT and connect to SQL database using JDBC, and the resume is saved in PDF format.</p>
            </div>
            <div class="project-item">
                <h2>3. Empowering Retail with Customer Sentiment Analytics:</h2>
                <p>The Customer Sentiment Analysis app classifies customer feedback as positive, negative, or neutral using the Naive Bayes algorithm and provides visual insights to aid retailers in improving their services.</p>
            </div>
            <div class="project-item">
                <h2>4. Auto-Scalable Website using AWS:</h2>
                <p>An E-Commerce Website which is deployed using AWS services, increasing its instances or servers based on the user traffic.</p>
            </div>
        </div>
        <div class="github-link">
            <img src="/images/img2.png" alt="GitHub Icon" class="github-icon">
            <a href="https://github.com/emmadi-siddharth-reddy?tab=repositories" target="_blank">
                My GitHub Repository
            </a>
        </div>
    </section>
</body>
</html>
